extends layout

block content
  .main.container
    .row
      .col-md-11.p-t-2.text-center
        i.icn-person.material-icons error
        h1.display-2.m-t-2 Error         
        p.lead.m-t-2= message 
      .col-xs-1.p-t-2
        div.errorStatus
          h2.display-1.errorStatus #{statusCode}        
